* text=auto eol=lf
*.sh text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf
*.png binary

docs/validation/samples/**/*.csv -text whitespace=trailing-space,space-before-tab,cr-at-eol

docs/validation/samples/**/*.json -text whitespace=trailing-space,space-before-tab,cr-at-eol
